

.login-page {
    width: 100%;
    padding: 15px 20px 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    min-height: 100vh; /* Full viewport height */
    box-sizing: border-box; /* Include padding in height calculations */
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#hero h1 {
    font-size: 8vw;
    font-weight: 500;
}

#hero img {
    width: 20vw;
}

#login {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#login>div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.login-page>section:nth-child(3) img {
    width: 50px;
}

.drawer {
    display: none;
}